* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d7e9ff; /* Azul claro pastel */
    margin: 0;
    padding: 20px;
}

/* Card principal do formulário */
.card {
    max-width: 550px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    border-top: 5px solid #003d73; /* Azul escuro */
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

h1 {
    color: #002d5c; /* Azul bem escuro */
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #355c85; /* Azul intermediário */
    font-weight: normal;
    margin-top: 0;
}

/* Inputs */
label {
    display: block;
    margin-bottom: 5px;
    color: #00335f;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #a1c3e6;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f4f9ff;
}

/* Foco */
input:focus, textarea:focus {
    outline: none;
    border: 1px solid #0077cc;
    box-shadow: 0 0 5px rgba(0,119,204,0.5);
    background-color: #ffffff;
}

/* Fieldset */
fieldset {
    border: 1px solid #a5c7ff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e3f0ff; /* Azul leve */
}

legend {
    color: #004c97;
    font-weight: bold;
}

/* Botão */
.btn-enviar, button.btn-enviar {
    width: 100%;
    border: none;
    background-color: #007bff; /* Azul forte */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-enviar:hover {
    background-color: #004a99; /* Azul escuro no hover */
}